<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{pages/headerandfooter}">

<head>
	<title> MENU PRINCIPAL</title>
</head>

<body>
	<div layout:fragment="page-content">
		<div class="container my-5">
			<h4 class="text-center">Ingrese el número de celular de alguno de sus padres para poder recuperar su correo/contraseña.</h4>
			
			<form action="#" class="bg-light my-5 p-5" th:action="@{/sistemas/inicio/recuperacion}" th:method="get">
				<div class="form-group mb-3">
					<label class="form-label">Número de Celular</label>
					<input class="form-control" type="number" required name="telefono" placeholder="Ingrese el teléfono">
				</div>
				<input type="submit" class="btn btn-primary" value="ENVIAR">
			</form>
		</div>
	</div>
</body>

</html>