<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{pages/headerandfooter}">

<head>
	<title> MENU PRINCIPAL</title>
	<link rel="stylesheet" th:href="@{/css/complementos.css}">
</head>

<body>
	<div layout:fragment="page-content">
		
		<div class="container my-5">
			<label> Ingrese el correo del estudiante a buscar</label>
			<br />
			<div class="row">
				<div class="col-md-4">
					<form action="#" class="input-group flex-nowrap" th:action="@{/sistemas/mostrar/estudiante/conducta}" th:method="get">
						<input type="email" class="form-control" id="emailestu" name="emailestu" placeholder="Ingrese el email">
						<input type="submit" class="btn btn-primary" value="Buscar" />
					</form>
				</div>
			</div>
		</div>

		<div class="container my-5">

			<div class="container-flex flex-align-items" th:if="${estudianteRetorna!=null}">

				<div class="foto-perfil">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
						<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
					</svg>
				</div>

				<table style="display: inline-block; text-align: center; margin-left: 2cm;" class="table">
					<thead>
						<tr>
							<th>Nombres</th>
							<th>Apellidos</th>
							<th>Materia</th>
							<th>Conducta</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="estudiante:${estudianteRetorna}">
							<td th:text="${estudiante.nombre}" />
							<td th:text="${estudiante.apellido}" />
							<td th:text="${materiaActualizar}" />
							<td th:text="${conducta}" />
						</tr>
					</tbody>
				</table>
			</div>
			<div style="text-align: center;" id="contenido_estud" th:if="${estudianteRetorna==null}">
				<h3> No hay resultados. </h3>
			</div>

		</div>

		<br />
		<div class="container">
			<h3> Ingrese la conducta:</h3>
			<h6> Valores validos: A,B,C,D,E. Caso contrario no se actualizar la conducta</h6>
			<br />
			<div class="row">
				<div class="col-md-4">
					<form action="#" class="input-group flex-nowrap" th:action="@{/sistemas/actualizar/conducta}" th:method="put">
						<input type="text" class="form-control" step="0.01" id="conducta" name="conducta" placeholder="Ingrese la conducta">
						<input type="submit" class="btn btn-primary" value="Ingresar" />
					</form>
				</div>
			</div>
		</div>
		<br />

		<div style="margin-left: 1cm;" th:if="${valor==false}">
			<h5> Conducta no actualizada</h5>
			<h5 th:text="${mensaje}"></h5>
		</div>

		<div style="margin-left: 1cm;" th:if="${valor==true}">
			<h5> Conducta actualizada</h5>
		</div>

		<br />
		<div class="text-center mb-5">
			<form action="#" th:action="@{/sistemas/inicio/docentes}" th:method="get">
				<input type="submit" class="btn btn-warning" value="REGRESAR MENU DE DOCENTE">
			</form>
		</div>

	</div>
</body>

</html>