<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{pages/headerandfooter}">

<head>
	<title> MENU PRINCIPAL</title>
</head>

<body>
	<div layout:fragment="page-content">

		<div style="margin-left: 1cm;">
			<label> Seleccion el curso y paralelo que desea buscar:</label>
			<br />
			<form action="#" th:action="@{/sistemas/encontrar/cursos/docente}" th:method="get">
				<select id="curso" name=curso style="background-color: rgb(207, 207, 233);margin-left: 1cm;">
					<option value="Primero"> Primero</option>
					<option value="Segundo"> Segundo</option>
					<option value="Tercero"> Tercero</option>
					<option value="Cuarto"> Cuarto</option>
					<option value="Quinto"> Quinto</option>
					<option value="Sexto"> Sexto</option>
					<option value="Septimo"> Septimo</option>
				</select>
				<select name=paralelo style="background-color: rgb(207, 207, 233);margin-left: 2cm;" id="paralelo">
					<option value="A"> A</option>
					<option value="B"> B</option>

				</select>
				<input style="margin-left: 2cm;color: rgb(128, 0, 0); background-color:beige;" type="submit"
					value="Buscar" />

			</form>
		</div>


		<br />
		<br />
		<br />

		<div style="margin-left: 1.5cm; margin-right: 1.5cm;">

			<h3 style="text-align: center;color: rgb(242, 124, 17)"> DATOS DEL CURSO</h3>
			<div style="display: flex;" th:if="${estudiantes!=null} AND ${!estudiantes.isEmpty()}">



				<table class="table " style="text-align: center; margin-left: 1cm; margin-right: 1cm;">
					<!--CABECERA DE MI TABLA-->
					<thead>
						<tr>
							<th>NOMBRE </th>
							<th>APELLIDO</th>
							<th>MATEMATICAS</th>
							<th>CONDUCTA MATEMATICAS</th>
							<th>LENGUAJE</th>
							<th>CONDUCTA LENGUAJE</th>
							<th>SOCIALES</th>
							<th>CONDUCTA SOCIALES</th>
							<th>CIENCIAS</th>
							<th>CONDUCTA CIENCIAS</th>
							<th>ALEMAN</th>
							<th>CONDUCTA ALEMAN</th>

						</tr>
					</thead>
					<!--CUERPO DE MI TABLA-->
					<tbody>
						<tr th:each="estudiantes: ${estudiantes}">
							<!--action que hace referencia al form y el de thymeleaf-->
							<td th:text="${estudiantes.nombre}"> </td>
							<td th:text="${estudiantes.apellido}"> </td>
							<td th:text="${estudiantes.materia1}"> </td>
							<td th:text="${estudiantes.conducta1}"> </td>
							<td th:text="${estudiantes.materia2}"> </td>
							<td th:text="${estudiantes.conducta2}"> </td>
							<td th:text="${estudiantes.materia3}"> </td>
							<td th:text="${estudiantes.conducta3}"> </td>
							<td th:text="${estudiantes.materia4}"> </td>
							<td th:text="${estudiantes.conducta4}"> </td>
							<td th:text="${estudiantes.materia5}"> </td>
							<td th:text="${estudiantes.conducta5}"> </td>

						</tr>
					</tbody>
				</table>
			</div>
			<br />

			<h3 style="text-align: center;color: rgb(242, 124, 17)"> PROMEDIOS DEL CURSO</h3>
			<br />

			<div style="display: flex;text-align: center; margin-left: 1cm; margin-right: 1cm;"
				th:if="${promedio!=null} ">

				<table class="table " style="text-align: center; margin-left: 1cm; margin-right: 1cm;">
					<!--CABECERA DE MI TABLA-->
					<thead>
						<tr>

							<th>PROMEDIO MATEMATICAS </th>
							<th>PROMEDIO LENGUAJE </th>
							<th>PROMEDIO SOCIALES</th>
							<th>PROMEDIO CIENCIAS </th>
							<th>PROMEDIO ALEMAN </th>


						</tr>
					</thead>
					<!--CUERPO DE MI TABLA-->
					<tbody>
						<tr>
							<!--action que hace referencia al form y el de thymeleaf-->

							<td style th:text="${promedio.promedio1}"> </td>
							<td th:text="${promedio.promedio2}"> </td>
							<td th:text="${promedio.promedio3}"> </td>
							<td th:text="${promedio.promedio4}"> </td>
							<td th:text="${promedio.promeido5}"> </td>

						</tr>
					</tbody>
				</table>

			</div>

			<div style="text-align: center;" id="estud" th:if="${estudiantes==null} OR ${estudiantes.isEmpty()}">

				<h3> No hay resultados. </h3>
			</div>

		</div>


		<br />
		<div class="text-center mb-5">
			<form action="#" th:action="@{/sistemas/inicio/docentes}" th:method="get">
				<input type="submit" class="btn btn-warning" value="REGRESAR MENU DE DOCENTES">
			</form>
		</div>

	</div>
</body>

</html>