<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{pages/headerandfooter}">

<head>
	<title> MENU PRINCIPAL</title>
	<link rel="stylesheet" th:href="@{/css/complementos.css}">
</head>

<body>
	<div layout:fragment="page-content">

		<div class="container my-5">
			<label> Ingrese el correo del docente a buscar</label>
			<br />
			<div class="row">
				<div class="col-md-4">
					<form action="#" class="input-group flex-nowrap" th:action="@{/sistemas/encontrar/docente}"
						th:method="get">
						<input type="email" class="form-control" id="email" name="email" placeholder="Ingrese el email">
						<input type="submit" class="btn btn-primary" value="Buscar" />
					</form>
				</div>
			</div>
		</div>

		<div class="container my-5">

			<div class="container-flex flex-align-items" th:if="${docenteRetorna!=null}">

				<div class="foto-perfil">
					<!--<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
						<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
					</svg>-->
					<img th:src="@{/img/profesor.png}" alt="NaN">
				</div>

				<table style="display: inline-block; text-align: center; margin-left: 1cm;" class="table">
					<thead>
						<tr>
							<th>Nombres</th>
							<th>Apellidos</th>
							<th>Edad</th>
							<th>Direccion</th>
							<th>Telefono</th>
							<th>Correo</th>
							<th>Dia atencion</th>
							<th>Horario atencion</th>
							<th>Cupo de atencion</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="docente:${docenteRetorna}">
							<td th:text="${docente.nombre}" />
							<td th:text="${docente.apellido}" />
							<td th:text="${docente.edad}" />
							<td th:text="${docente.direccion}" />
							<td th:text="${docente.telefono}" />
							<td th:text="${docente.correo}" />
							<td th:text="${docente.diaAtencion}" />
							<td th:text="${hora}"> </td>
							<td th:text="${docente.horasLibres}" />

						</tr>
					</tbody>
				</table>
			</div>
			<div style="text-align: center;" id="contenido" th:if="${docenteRetorna==null} ">
				<h3> No hay resultados. </h3>
			</div>

		</div>

		<br />
		<div class="container" th:if="${repre1!=null}">
			<form action="#" th:action="@{/sistemas/cupo/docente}" th:method="put">
				<input type="submit" class="btn btn-primary" value="Obtener cupo de consulta">
			</form>
		</div>
		<br />

		<div style="margin-left: 1cm;" th:if="${valor==false}">
			<h5> Registro de cita no generado</h5>
			<h5 th:text="${mensaje}"></h5>

		</div>

		<div style="margin-left: 1cm;" th:if="${valor==true}">
			<h5> Registro generado</h5>
			<h5 th:text="${mensaje1}"></h5>
			<h5 th:text="${mensaje2}"></h5>
		</div>

		<br />


		<br />
		<div class="text-center mb-5">
			<form action="#" th:action="@{/sistemas/inicio/reportes}" th:method="get">

				<input type="submit" class="btn btn-warning" value="REGRESAR MENU DE REPORTES">
			</form>
		</div>

	</div>
</body>

</html>