<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{pages/headerandfooter}">

<head>
	<title> MENU PRINCIPAL</title>
	<link rel="stylesheet" th:href="@{/css/complementos.css}">
</head>

<body>
	<div layout:fragment="page-content">
		
		<div class="container my-5">

			<div class="container-flex flex-align-items" th:if="${estudiante1!=null}">

				<div class="foto-perfil">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
						<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
					</svg>
				</div>

				<table style="display: inline-block; text-align: center; margin-left: 1cm;" class="table">
					<thead>
						<tr>
							<th>Nombres</th>
							<th>Apellidos</th>
							<th>Matematicas</th>
							<th>Conducta Matematicas</th>
							<th>Lenguaje</th>
							<th>Conducta Lenguaje</th>
							<th>Sociales</th>
							<th>Conducta Sociales</th>
							<th>Ciencias</th>
							<th>Conducta Ciencias</th>
							<th>Aleman</th>
							<th>Conducta Aleman</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="estudiante:${estudiante1}">
							<td th:text="${estudiante.nombre}" />
							<td th:text="${estudiante.apellido}" />
							<td th:text="${estudiante.matematicas}" />
							<td th:text="${estudiante.conductaMatematicas}" />
							<td th:text="${estudiante.lenguaje}" />
							<td th:text="${estudiante.conductaLenguaje}" />
							<td th:text="${estudiante.sociales}" />
							<td th:text="${estudiante.conductaSociales}" />
							<td th:text="${estudiante.ciencias}" />
							<td th:text="${estudiante.conductaCiencias}" />
							<td th:text="${estudiante.aleman}" />
							<td th:text="${estudiante.conductaAleman}" />

						</tr>
					</tbody>
				</table>

			</div>

			<div th:if="${estudiante1!=null}">
				<br />
				<table style="display: inline-block; text-align: center; margin-left: 12cm;" class="table">
					<thead>
						<tr>
							<th>Hora</th>
							<th>Lunes</th>
							<th>Martes</th>
							<th>Miercoles</th>
							<th>Jueves</th>
							<th>Viernes</th>

						</tr>
					</thead>
					<tbody>
						<tr>
							<th>8:00</th>
							<th>Matematicas</th>
							<th>Lenguaje</th>
							<th>Ciencias</th>
							<th>Sociales</th>
							<th>Aleman</th>
						</tr>
						<tr>
							<th>9:00</th>
							<th>Lenguaje</th>
							<th>Ciencias</th>
							<th>Sociales</th>
							<th>Aleman</th>
							<th>Matematicas</th>
						</tr>
						<tr>
							<th>10:00</th>
							<th>Ciencias</th>
							<th>Sociales</th>
							<th>Aleman</th>
							<th>Matematicas</th>
							<th>Lenguaje</th>
						</tr>
						<tr>
							<th>11:00</th>
							<th colspan="5">Receso</th>

						</tr>
						<tr>
							<th>12:00</th>
							<th>Sociales</th>
							<th>Aleman</th>
							<th>Matematicas</th>
							<th>Lenguaje</th>
							<th>Ciencias</th>
						</tr>
						<tr>
							<th>13:00</th>
							<th>Aleman</th>
							<th>Matematicas</th>
							<th>Lenguaje</th>
							<th>Ciencias</th>
							<th>Sociales</th>
						</tr>

					</tbody>
				</table>

			</div>
			<div style="text-align: center;" id="contenido_estud" th:if="${estudiante1==null} ">
				<h3> No hay resultados. </h3>
			</div>

		</div>

		<br />
		<div class="text-center mb-5">
			<form action="#" th:action="@{/sistemas/inicio/reportes}" th:method="get">
				<input type="submit" class="btn btn-warning" value="REGRESAR MENU DE REPORTES">
			</form>
		</div>

	</div>
</body>

</html>