<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{pages/headerandfooter}">

<head>
	<title> MENU PRINCIPAL</title>
</head>

<body>
	<div layout:fragment="page-content">
		
		<h3 class="text-center my-5" style="color: rgb(242, 124, 17)"> CALIFICACIONES DEL CURSO</h3>

		<div style="margin-left: 1.5cm; margin-right: 1.5cm;">

			<div style="display: flex;" th:if="${estudiantes!=null} AND ${!estudiantes.isEmpty()}">

				<table class="table " style="text-align: center; margin-left: 1cm; margin-right: 1cm;">
					<!--CABECERA DE MI TABLA-->
					<thead>
						<tr>
							<th>NOMBRE </th>
							<th>APELLIDO</th>
							<th>MATEMATICAS</th>
							<th>CONDUCTA MATEMATICAS</th>
							<th>LENGUAJE</th>
							<th>CONDUCTA LENGUAJE</th>
							<th>SOCIALES</th>
							<th>CONDUCTA SOCIALES</th>
							<th>CIENCIAS</th>
							<th>CONDUCTA CIENCIAS</th>
							<th>ALEMAN</th>
							<th>CONDUCTA ALEMAN</th>

						</tr>
					</thead>
					<!--CUERPO DE MI TABLA-->
					<tbody>
						<tr th:each="estudiantes: ${estudiantes}">
							<!--action que hace referencia al form y el de thymeleaf-->
							<td th:text="${estudiantes.nombre}"> </td>
							<td th:text="${estudiantes.apellido}"> </td>
							<td th:text="${estudiantes.materia1}"> </td>
							<td th:text="${estudiantes.conducta1}"> </td>
							<td th:text="${estudiantes.materia2}"> </td>
							<td th:text="${estudiantes.conducta2}"> </td>
							<td th:text="${estudiantes.materia3}"> </td>
							<td th:text="${estudiantes.conducta3}"> </td>
							<td th:text="${estudiantes.materia4}"> </td>
							<td th:text="${estudiantes.conducta4}"> </td>
							<td th:text="${estudiantes.materia5}"> </td>
							<td th:text="${estudiantes.conducta5}"> </td>

						</tr>
					</tbody>
				</table>
			</div>

		</div>

		<h3 class="text-center my-5" style="color: rgb(242, 124, 17);"> PROMEDIOS DEL CURSO</h3>

		<div style="display: flex;text-align: center; margin-left: 1cm; margin-right: 1cm;" th:if="${promedio!=null} ">

			<table class="table " style="text-align: center; margin-left: 1cm; margin-right: 1cm;">
				<!--CABECERA DE MI TABLA-->
				<thead>
					<tr>

						<th>PROMEDIO MATEMATICAS </th>
						<th>PROMEDIO LENGUAJE </th>
						<th>PROMEDIO SOCIALES</th>
						<th>PROMEDIO CIENCIAS </th>
						<th>PROMEDIO ALEMAN </th>


					</tr>
				</thead>
				<!--CUERPO DE MI TABLA-->
				<tbody>
					<tr>
						<!--action que hace referencia al form y el de thymeleaf-->

						<td style th:text="${promedio.promedio1}"> </td>
						<td th:text="${promedio.promedio2}"> </td>
						<td th:text="${promedio.promedio3}"> </td>
						<td th:text="${promedio.promedio4}"> </td>
						<td th:text="${promedio.promeido5}"> </td>

					</tr>
				</tbody>
			</table>
		</div>

		<div class="text-center my-5">
			<form action="#" th:action="@{/sistemas/inicio/estudiantes}" th:method="get">
				<input type="submit" class="btn btn-warning" value="REGRESAR MENU DE ESTUDIANTES">
			</form>
		</div>

	</div>
</body>

</html>