<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{pages/headerandfooter}">

<head>
	<title> MENU PRINCIPAL</title>
</head>

<body>
	<div layout:fragment="page-content">
		<div class="row">
			<div class="bg-light mt-5 mb-5 p-5 col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12">
				<h2 class="text-center text-orange"> INICIAR SESIÓN</h2>

				<form action="#" th:action="@{/sistemas/inicio/principal}" th:method="post">
					<div class="form-group mt-3">
						<label class="text-left">Email</label>
						<input type="email" id="email" class="form-control" name="email"
							placeholder="Ingrese su email" />
					</div>
					<div class="form-group mt-3">
						<label>Cntraseña</label>
						<input type="password" id="password" class="form-control" name="password"
							placeholder="Ingrese su contraseña" />
					</div>
					<div class="mt-4">
						<a class="d-block link-primary" href="http://localhost:8080/sistemas/inicio/datos/olvidados">
							Olvidaste tu contraseña?
						</a>
						<a class="d-block link-primary" href="http://localhost:8080/sistemas/inicio/datos/olvidados">
							Olvidaste tu email?
						</a>
					</div>
					<div class="mt-5 text-center">
						<input type="submit" class="btn btn-primary" value="INICIAR SESION">
					</div>
					
				</form>
			</div>

		</div>

	</div>


</body>

</html>