<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{pages/headerandfooter}">

<head>
	<title> MENU PRINCIPAL</title>
</head>

<body>
	<div layout:fragment="page-content">
		
		<div style="text-align: center;">
			<h4 style="margin-left: 1cm; margin-right: 1cm;"> El mensaje a sido enviado y llegará pronto. Ingrese al
				link
				enviado al número de
				teléfono y complete el proceso.</h4>
		</div>
		<br />
		<br />
		<div class="text-center mb-5">
			<form action="#" th:action="@{/sistemas/inicio}" th:method="get">
				<input type="submit" class="btn btn-warning" value="REGRESAR">
			</form>
		</div>

	</div>
</body>

</html>