<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<title> MENU PRINCIPAL</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device'width,initial-scale=1">
	<meta http-equiv="x-ua-compatible">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/3ad275e8aa.js" crossorigin="anonymous"></script>

</head>



<body style="background-color: rgb(251, 252, 253);">
	<div style="margin-top: 0.5mm;display: flex;">
		<img style="width: 5%; margin-left: 1cm;"
			src="https://pbs.twimg.com/profile_images/1509299036406308866/Wr7VUxhp_400x400.jpg">
		<h1 style="color:rgb(6, 24, 151); text-align:center;margin-left:12cm;margin-top:1mm"> GUTEMBERG WEB</h1> <br />

	</div>
	<hr style="color: rgb(242, 124, 17); height: 2px;" <br />
	<div th:if="${estu1!=null} AND ${docen1==null} AND ${emple1==null} AND ${repre1==null} ">
		<header>
			<nav style="background-color:rgb(6, 24, 151) ">
				<ul>
					<li style="display: inline-block; padding: 12px;"> <i class="fa-solid fa-user-graduate"
							style="color: rgb(242, 124, 17);"></i> <a style="color:rgb(242, 124, 17) ;"
							href="estudiantes">Menú de Estudiantes</a>
					</li>
					<li style="display: inline-block; padding: 12px;"> <i class="fa-solid fa-book-open-reader"
							style="color:rgb(242, 124, 17) ;"></i> <a style="color:rgb(242, 124, 17) ;"
							href="reportes">Menú de Reportes</a></li>
					<li style="display: inline-block; padding: 12px;"> <i class="fa-solid fa-door-open"
							style="color:rgb(242, 124, 17) ;"></i> <a style="color:rgb(242, 124, 17) ;"
							href="http://localhost:8080/sistemas/inicio">Cerrar Sesión</a></li>
				</ul>
			</nav>
		</header>
	</div>

	<div th:if="${estu1==null} AND ${docen1!=null} AND ${emple1==null} AND ${repre1==null}">
		<header>
			<nav style="background-color:rgb(6, 24, 151) ">
				<ul>
					<li style="display: inline-block; padding: 12px;"><i class="fa-solid fa-person-chalkboard"
							style="color:rgb(242, 124, 17) ;"></i> <a style="color:rgb(242, 124, 17) ;"
							href="docentes">Menú de Docentes</a></li>
					
					<li style="display: inline-block; padding: 12px;"> <i class="fa-solid fa-book-open-reader"
							style="color:rgb(242, 124, 17) ;"></i> <a style="color:rgb(242, 124, 17) ;"
							href="reportes">Menú de Reportes</a></li>
					<li style="display: inline-block; padding: 12px;"> <i class="fa-solid fa-door-open"
							style="color:rgb(242, 124, 17);"></i> <a style="color:rgb(242, 124, 17) ;"
							href="http://localhost:8080/sistemas/inicio">Cerrar Sesión</a></li>
				</ul>
			</nav>
		</header>
	</div>

	<div th:if="${estu1==null} AND ${docen1==null} AND ${emple1!=null} AND ${repre1==null}">
		<header>
			<nav style="background-color:rgb(6, 24, 151) ">
				<ul>
					<li style="display: inline-block; padding: 12px;"><i class="fa-solid fa-person-chalkboard"
							style="color:rgb(242, 124, 17) ;"></i> <a style="color:rgb(242, 124, 17) ;"
							href="docentes">Menú de Docentes</a></li>
							<li style="display: inline-block; padding: 12px;"> <i class="fa-solid fa-user-graduate"
							style="color: rgb(242, 124, 17);"></i> <a style="color:rgb(242, 124, 17) ;"
							href="estudiantes">Menú de Estudiantes</a>
					</li>
					<li style="display: inline-block; padding: 12px;"> <i class="fa-solid fa-book-open-reader"
							style="color:rgb(242, 124, 17) ;"></i> <a style="color:rgb(242, 124, 17) ;"
							href="reportes">Menú de Reportes</a></li>
					<li style="display: inline-block; padding: 12px;"> <i class="fa-solid fa-door-open"
							style="color:rgb(242, 124, 17);"></i> <a style="color:rgb(242, 124, 17) ;"
							href="http://localhost:8080/sistemas/inicio">Cerrar Sesión</a></li>
				</ul>
			</nav>
		</header>
	</div>

	<div th:if="${estu1==null} AND ${docen1==null} AND ${emple1==null} AND ${repre1!=null}">
		<header>
			<nav style="background-color:rgb(6, 24, 151) ">
				<ul>

					<li style="display: inline-block; padding: 12px;"> <i class="fa-solid fa-book-open-reader"
							style="color:rgb(242, 124, 17) ;"></i> <a style="color:rgb(242, 124, 17) ;"
							href="reportes">Menú de Reportes</a></li>
					<li style="display: inline-block; padding: 12px;"> <i class="fa-solid fa-door-open"
							style="color:rgb(242, 124, 17);"></i> <a style="color:rgb(242, 124, 17) ;"
							href="http://localhost:8080/sistemas/inicio">Cerrar Sesión</a></li>
				</ul>
			</nav>
		</header>
	</div>

	<br />

	<div style=" padding: 50px 30px ; ; margin: auto; margin-top: 550px x;width: 400px;height: 350px;">
		<div style="text-align:center; ">


			<table style="margin-left: 0.5cm;">
				<tr>

					<td>
						<form action="#" th:action="@{/sistemas/buscar/estudiante/nota}" th:method="get">

							<input type="submit" value="ACTUALIZAR/REGISTRAR CALIFICACION"
								style="color: rgb(128, 0, 0); background-color:beige;">
						</form>

					</td>

				</tr>
			</table>


		</div>

		<br />
		
		<div>
			<table style="margin-top: 2cm;margin-left: 1cm;">
				<tr>

					<td>
						<form action="#" th:action="@{/sistemas/buscar/estudiante/conducta}" th:method="get">

							<input type="submit" value="ACTUALIZAR/REGISTRAR CONDUCTA"
								style="color: rgb(128, 0, 0); background-color:beige;">
						</form>

					</td>

				</tr>
			</table>
		</div>
		<br />
		<div>
			<table style="margin-top: 2cm;margin-left: 1.5cm;">
				<tr>

					<td>
						<form action="#" th:action="@{/sistemas/buscar/cursos/docente}" th:method="get">

							<input type="submit" value="CALIFICACIONES DEL CURSO"
								style="color: rgb(128, 0, 0); background-color:beige;">
						</form>

					</td>

				</tr>
			</table>
		</div>
	</div>

	<hr style="color: rgb(242, 124, 17);height: 2px; ">

	<footer style="color:rgb(6, 24, 151)">
		<h4 style="text-align: center;color: rgb(242, 124, 17);"> CONTACTENOS</h4>



		<div>
			<div style="display: inline-block;padding: 12px;margin-left: 0.5cm;">
				<p> Dirección: Napo y Esmeraldas</p>
			</div>
			<div style="display: inline-block;padding: 12px;margin-left: 9cm;">
				<p> Teléfono: 02589625</p>
			</div>
			<div style="display: inline-block;padding: 12px;margin-left: 4.5cm;">
				<p> Facebook: www.facebook.com/gutembergschedule</p>
			</div>
		</div>
	</footer>

</body>
</html>