<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{pages/headerandfooter}">

<head>
	<title>MENU PRINCIPAL</title>
</head>

<body>
	<div layout:fragment="page-content">
		<div th:if="${estu1!=null} AND ${docen1==null} AND ${emple1==null} AND ${repre1==null} ">
			<nav th:replace="pages/navbar :: navestudiante"></nav>
		</div>

		<div th:if="${estu1==null} AND ${docen1!=null} AND ${emple1==null} AND ${repre1==null}">
			<nav th:replace="pages/navbar :: navdocente"></nav>
		</div>

		<div th:if="${estu1==null} AND ${docen1==null} AND ${emple1!=null} AND ${repre1==null}">
			<nav th:replace="pages/navbar :: navempleado"></nav>
		</div>

		<div th:if="${estu1==null} AND ${docen1==null} AND ${emple1==null} AND ${repre1!=null}">
			<nav th:replace="pages/navbar :: navrepresentante"></nav>
		</div>

		<div style=" padding: 50px 30px ; ; margin: auto; margin-top: 550px x;width: 400px;height: 350px;">
			<div style="text-align:center; ">


				<table style="margin-left: 0.5cm;">
					<tr>

						<td>
							<form action="#" th:action="@{/sistemas/buscar/estudiante/nota}" th:method="get">

								<input type="submit" value="ACTUALIZAR/REGISTRAR CALIFICACION"
									style="color: rgb(128, 0, 0); background-color:beige;">
							</form>

						</td>

					</tr>
				</table>

			</div>

			<br />

			<div>
				<table style="margin-top: 2cm;margin-left: 1cm;">
					<tr>

						<td>
							<form action="#" th:action="@{/sistemas/buscar/estudiante/conducta}" th:method="get">

								<input type="submit" value="ACTUALIZAR/REGISTRAR CONDUCTA"
									style="color: rgb(128, 0, 0); background-color:beige;">
							</form>

						</td>

					</tr>
				</table>
			</div>
			<br />
			<div>
				<table style="margin-top: 2cm;margin-left: 1.5cm;">
					<tr>

						<td>
							<form action="#" th:action="@{/sistemas/buscar/cursos/docente}" th:method="get">

								<input type="submit" value="CALIFICACIONES DEL CURSO"
									style="color: rgb(128, 0, 0); background-color:beige;">
							</form>

						</td>

					</tr>
				</table>
			</div>
		</div>
	</div>

</body>

</html>