<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{pages/headerandfooter}">

<head>
	<title>MENU PRINCIPAL</title>
</head>



<body>
	<div layout:fragment="page-content">

		<div th:if="${estu1!=null} AND ${docen1==null} AND ${emple1==null} AND ${repre1==null} ">
			<nav th:replace="pages/navbar :: navestudiante"></nav>
		</div>

		<div th:if="${estu1==null} AND ${docen1!=null} AND ${emple1==null} AND ${repre1==null}">
			<nav th:replace="pages/navbar :: navdocente"></nav>
		</div>

		<div th:if="${estu1==null} AND ${docen1==null} AND ${emple1!=null} AND ${repre1==null}">
			<nav th:replace="pages/navbar :: navempleado"></nav>
		</div>

		<div th:if="${estu1==null} AND ${docen1==null} AND ${emple1==null} AND ${repre1!=null}">
			<nav th:replace="pages/navbar :: navrepresentante"></nav>
		</div>

		<div style=" padding: 50px 30px ; ; margin: auto; margin-top: 10px x;width: 400px;height: 350px;">
			<div style="text-align:center; ">

				<table style="margin-left: 2.25cm;">
					<tr>

						<td>
							<form action="#" th:action="@{/sistemas/buscar/docente}" th:method="get">

								<input type="submit" value="BUSCAR HORARIO ATENCION DOCENTE"
									style="color: rgb(128, 0, 0); background-color:beige;">
							</form>

						</td>

					</tr>
				</table>


			</div>

			<br />
			<div>
				<table style="margin-top: 1cm;margin-left: 2cm;">
					<tr>

						<td>
							<form action="#" th:action="@{/sistemas/buscar/estudiante}" th:method="get">

								<input type="submit" value="BUSCAR HORARIO ESTUDIANTE"
									style="color: rgb(128, 0, 0); background-color:beige;">
							</form>

						</td>

					</tr>
				</table>
			</div>
			<div>
				<table style="margin-top: 2cm;margin-left: 2.5cm;">
					<tr>

						<td>
							<form action="#" th:action="@{/sistemas/buscar/cursos}" th:method="get">

								<input type="submit" value="CALENDARIO ACADEMICO"
									style="color: rgb(128, 0, 0); background-color:beige;">
							</form>

						</td>

					</tr>
				</table>
			</div>
			<div>
				<table style="margin-top: 2cm;margin-left: 3cm;">
					<tr>

						<td>
							<form action="#" th:action="@{/sistemas/buscar/cursos}" th:method="get">

								<input type="submit" value="MANUAL DE USUARIO"
									style="color: rgb(128, 0, 0); background-color:beige;">
							</form>

						</td>

					</tr>
				</table>
			</div>
		</div>

		<br />
		<br />
	</div>
</body>



</html>